@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@564&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@564&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@564&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-weight: normal;
}

:root{
    --vioL:#7104ff;
}


html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body{
    background-color: #eee2ff;
}

.piller
{
    margin-top: 100px;
}

/*
#ff792e
#e74300

 #ff4b04
*/

.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 20px; */
} 




.container nav{
    /* background: linear-gradient(to right, #a513ff, #7104ff); */
    background-color: var(--vioL);
    min-height: 80px;
    height: 80px;
    width: 100%;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container nav .navbar{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: white;
    position: relative;
}


.container nav .navbar .toggle{
    position: absolute;
    right: 0%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    display: none;
    transition: 0.5s;
    /* background-color: white; */
}

.container nav .navbar .toggle.active{
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 5px;
}

.container nav .navbar .toggle span{
    height: 4px;
    width: 80%;
    background-color: rgb(255, 255, 255);
}



.container nav .navbar .toggle{
    position: absolute;
    right: 0%;
}



.container nav .navbar .logo{
    font-size: 20px;
}
.container nav .navbar .navlinks .links{
    padding: 5px 10px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    user-select: none;
}
.container nav .navbar .navlinks .links:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}










/*  Web Cover Css */

.container .webFullCover{
    width: 80%;
    min-height: 700px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
}

.container .webFullCover .covers{
    min-width: 50%;
    width: 50%;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}
.container .webFullCover .covers .titleLines{
    font-size: 45px;
    color:  var(--vioL);
}
.container .webFullCover .covers .smallLines{
    color: rgb(55, 55, 55);
    font-size: 20px;
}
.container .webFullCover .covers .descLines{
    font-size: 15px;
    line-height: 25px;
    font-family: "Dancing Script", cursive;
    text-align: justify;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container .webFullCover .covers .webButtons{
    /* height: 50px; */
    display: flex;
    gap: 10px;
    min-height: 40px;
    margin-top: 20px;
}
.container .webFullCover .covers .webButtons .webCoverLinks{
    padding: 10px;
    display: grid;
    place-items: center;
    color: white;
    background-color: rgb(32, 73, 255);
    text-decoration: none;
    border-radius: 10px;
}
.container .webFullCover .covers .webButtons .webCoverLinks.linkYoutube{
    background-color: red;
}


.container .webFullCover .rightCover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 50%;
}
.container .webFullCover .rightCover img{
    height: 400px;
    width: 400px;
    object-fit: contain;
    border-bottom: 10px solid var(--vioL);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    animation: imageBgChange 10s infinite ease-in-out;
    /* border-left: 10px dashed rgb(255, 255, 255); */
}

@keyframes imageBgChange {
    30%{
        background-color: white;
    }
    60%{
        background-color:transparent;
    }

}











/*  bodyDesc             */
.container .bodyDesc{
    min-height: 700px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(255, 208, 176); */
}

.container .bodyDesc .experticeFulDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    /* margin-top: 100px; */
}

.container .bodyDesc .experticeFulDiv .mainSubTitle{
    color: gray;
}

.bodyDesc .experticeFulDiv .experticemainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    width: 100%;
}

.bodyDesc .experticeFulDiv .expertice1div{
    height: 300px;
    min-width: 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    position: relative;
    box-shadow: 1px 1px 5px 1px rgb(249, 247, 255);
}


/* .bodyDesc .experticeFulDiv .expertice1div::before{
    position: absolute;
    content: "";
    height: 5px;
    width: 10vw;
    right: -10.5vw;
    background-color: red;
} */


.bodyDesc .experticeFulDiv img{
    height: 50px;
    width: 50px;
}
.bodyDesc .experticeFulDiv .title{
    font-size: 15px;
    color: var(--vioL);
}




.bodyDesc .picsAndSomeTalks{
    width: 100%;
    margin-top: 100px;
    /* margin-bottom: 100px; */
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}


.bodyDesc .picsAndSomeTalks .picsDiv{
    position: relative;
    width: 300px;
    height: 400px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.bodyDesc .picsAndSomeTalks .picsDiv img{
    min-width: 200px;
    width: 200px;
    height: 150px;
    position: absolute;
    border: 5px solid rgb(255, 255, 255);
    top: 15%;
    left: 5%;
}
.bodyDesc .picsAndSomeTalks .picsDiv img:nth-child(2){
    
    top: 40%;
    left: 20%;
}
.bodyDesc .picsAndSomeTalks .picsDiv img:nth-child(3){
    top: 5%;
    left: 45%;
    transform: scale(0.8);
}

.bodyDesc .picsAndSomeTalks .talksDiv{
    width: calc(100% - 430px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 100px;
    font-size: 13px;
    color: var(--vioL);
    color: rgb(215, 6, 93);

}

.bodyDesc .picsAndSomeTalks .talksDiv .title{
    font-size: 25px;
    color: black;
}




.footerFullDiv{
    width: 100%;
    height: auto;
    /* margin-top: 100px; */
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;

    background: var(--vioL);

}

.footerFullDiv .iconsAndContacts{
    display: flex;
    height: 300px;
    width: 40%;
    gap: 8px;
    text-align: left;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    color: white;

}


.footerFullDiv .socialIcon{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.footerFullDiv .socialIcon img{
    height: 40px;
    width: 40px;
    filter: invert();
}



.footerFullDiv .profileAndOthers{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 10px;
}
.footerFullDiv .profileAndOthers img{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    object-fit: cover;
}
.footerFullDiv .profileAndOthers p{
    width: 110px;
    text-align: center;
    color: white;
}













/* .cardiv{
    height: 200px;
    width: 200px;
    background-color: red;
} */






















/*  Web Cover Css */

@media screen and (max-width: 1100px) {
    .container .webFullCover .covers{
        transform: scale(0.9);
    }
}




@media screen and (max-width: 900px) {

    .container nav .navbar{
        width: 90%;
    }
    .container nav .navbar .navlinks{
        position: fixed;
        height: calc(100% - 80px);
        bottom: 0;
        right: 0;
        width: 300px;
        background-color: var(--vioL);
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.5s;

    }

    .container nav .navbar .navlinks .links{
        user-select: text;
        text-decoration: none;
        color: black;
        margin-top: 30px;
    }
    .container nav .navbar .toggle{
        display: flex;
    }
    .container nav .navbar .toggle{
        right: 0;
    }
    .container nav .navbar .navlinks{
        right: -100%;
    }
    .container nav .navbar .navlinks.active{
        right: 0%;
    }
    .container nav .navbar .toggle.active{
    }



    .container .webFullCover{
        flex-wrap: wrap;
        margin-top: 30px;
        height: auto;
    }

    .container .webFullCover .covers{
        min-width: 50%;
        transform: scale(1);
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

    }
    .container .webFullCover .rightCover{
        justify-content: center;
        margin-top: 40px;
    }
    .container .webFullCover .covers .webButtons{
        justify-content: center;
    }





    .container .webFullCover .rightCover img{
        height: 250px;
        width: 250px;
    }

    .smDeviceParas{
        transform: scale(0.8);
    }

    .container .webFullCover{
        width: 95%;
    }

    .webFullCover .leftCover .titleLines.smDeviceParas{
        font-size: 35px;
    }

    .container .bodyDesc .picsAndSomeTalks .picsDiv{
        transform: scale(0.9);
    }

    .container .bodyDesc{
        width: 95%;
    } 
}



@media screen and (max-width:750px) {
    .bodyDesc .picsAndSomeTalks .talksDiv{
        width: 90%;
    }
}


@media screen and (max-width:700px){
    .bodyDesc .experticeFulDiv .expertice1div{
        height: 200px;
        width: 200px;
        font-size: 10px;
    }
}

@media screen and (max-width:500px){
    
.footerFullDiv{
    flex-wrap: wrap;
    margin-top:0px;
}

.footerFullDiv .iconsAndContacts{
    display: flex;
    height: 300px;
    min-width: 100%;
    gap: 8px;
    text-align: center;

    align-items: center;
    justify-content: center;
    flex-direction: column;

}




.footerFullDiv .profileAndOthers{
    min-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}


}


@media screen and (max-width:400px) {
    .container nav .navbar .navlinks{
        width: 100%;
    }

   
}




@media screen and (max-width:320px) {
    
    .bodyDesc .picsAndSomeTalks .picsDiv img{
        transform: scale(0.9);
    }
    .bodyDesc .picsAndSomeTalks .picsDiv img:nth-child(3){
        left: 30%;
    }
       
    }
    
    
    
    @media screen and (max-width:255px) {
        
    .bodyDesc .picsAndSomeTalks .picsDiv{
        transform: scale(0.5);
    }
    .bodyDesc .picsAndSomeTalks .picsDiv img:nth-child(3){
        left: 30%;
        transform: scale(0.7);
    }
       
    }